<% article_url = "http://mattolson.com#{article.url}" %>

<div class="row">
  <article class="small-12 large-9 columns">
    <h3>
      <% if digest %>
        <%= link_to article.title, article %>
      <% else %>
        <%= article.title %>
      <% end %>
    </h3>

    <% if digest %>
      <%= article.summary %>
    <% else %>
      <%= article.body %>
    <% end %>

    <% if digest && article.summary.length < article.body.length %>
      <p class="readmore"><%= link_to 'Read more &rarr;', "#{article.url}#content", :class => 'secondary button radius' %></p>
    <% end %>

    <% unless digest %>
      <ul class="read_next">
        <li><%= article.previous_article ? link_to("&laquo; #{article.previous_article.title}", article.previous_article) : "&nbsp;" %></li>
        <li><%= article.next_article ? link_to("#{article.next_article.title} &raquo;", article.next_article) : "&nbsp;" %></li>
      </ul>

      <% if article.tags.include?('synthesis') %>
        <div id="disqus_thread">
          <p class="synthesis_comments panel radius">
            This essay was printed in the <%= article.date.strftime('%b %e, %Y') %> issue of The Synthesis Weekly.
            We&rsquo;d like to keep all public comments grouped together, so please 
            <%= link_to 'visit the Synthesis site to comment on this essay', "#{article.data.mainurl}#comments", :class => 'external' %>.
          </p>
        </div>
      <% else %>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'ahbiscuits';
          (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      <% end %>
    <% end %>
  </article>
  <aside class="small-12 large-3 columns">
    <ul class="credit">
      <li class="time">Posted on <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></li>
    </ul>
    <ul class="inline-list tags">
      <% article.tags.each do |tag| %>
        <li><%= link_to tag, tag_path(tag), :class => 'tiny button secondary round' %></li>
      <% end %>
    </ul>
    <% unless digest %>
      <div class="share-buttons" data-permalink="<%= article_url %>">
        <h6 class="section">Share</h6>
        <ul class="inline-list">
          <li class="share-facebook">
            <iframe src="http://www.facebook.com/plugins/like.php?href=<%= article_url %>&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
          </li>
          <li class="share-gplus"><div class="g-plusone" data-size="medium"></div></li>
          <li class="share-twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= article_url %>" data-count="horizontal"></a></li>
        </ul>
      </div>
    <% end %>
  </aside>
</div>
